<div class="trust-banner">
    <div class="trust-banner-content">
        <span class="trust-item">
            <span class="material-symbols-outlined">verified_user</span>
            Bảo mật SSL 256-bit
        </span>
        <span class="trust-divider">|</span>
        <span class="trust-item">
            <span class="material-symbols-outlined">groups</span>
            50,000+ người dùng
        </span>
        <span class="trust-divider">|</span>
        <span class="trust-item">
            <span class="material-symbols-outlined">star</span>
            4.9/5 đánh giá
        </span>
    </div>
</div>